a {
    color: black;
}

.masonry {
    column-count: 3;
    column-gap: 1em;
}

.item {
    background-color: #eee;
    display: inline-block;
    margin: 5em 0 1em;
    width: 100%;
}
